{
  "presets": [["es2015", { "modules": false }], "stage-0", "react",],
  "plugins": [
    "transform-decorators-legacy",
    "glamorous-displayname",
  ],
  "env":{
    "dev": {
      "plugins": [
        "transform-decorators-legacy",
        "glamorous-displayname",
        "react-hot-loader/babel"
      ]
    }
  }
}
